.heroSection {
    padding: 100px 0px;
    max-width: 1000px;
    min-height: 100vh;
}

.heroText1 {
    font-size: 20px  !important;
}

.heroText2 {
    font-size: 80px  !important;
}

.heroText3 {
    font-size: 25px  !important;
}