.resumeSection {
    max-width: 1000px;
}

.aboutHeader {
    color: white;
}

.tabContent {
    background-color: #0f1e39 !important;
    color: white;
    border: none !important;
}

.ui.vertical.tabular.menu .active.item {
    background: none !important;
    color: #2E9CCA !important;
    border-color: #2E9CCA !important;
}

.ui.vertical.tabular.menu .item {
    color: white;
}

.ui.vertical.tabular.menu .item:hover {
    color: #2E9CCA !important;
}