.resumeSection {
    padding: 100px 0px;
    max-width: 1000px;
    min-height: 100vh;
}

.aboutHeader {
    color: white;
}

.tabContent {
    background-color: #0f1e39 !important;
    color: white;
    border: none !important;
}