a {
    color: black  !important;
  }


a:hover {
    color: hotpink  !important;
  }

  /* stick */
.verticalLineLeft {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 60px ;
    background-color: black
}

.verticalLineRight {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 60px ;
  background-color: black
}

.socialMediaIcons {
    display: block;
    width: 1px;
    height: 16px;
    margin: 45px ;
    
}

.socialIconsContainer {
    position: sticky;
    float: left;
    z-index: 30;
}

.socialEmailContainer {
  position: sticky;
    float: right;
    z-index: 30;
}

.socialEmailText  {
  display: block;
  width: 60px;
  height: 160px;
  margin: 45px ;
}



.socialEmailText p {
  height: 200px;
  margin: 8px;
  writing-mode: vertical-rl;
  text-orientation:sideways-right;
}

